version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SERVER_ADDRESS=:8080
      - BASE_URL=https://short.new-sneacker.store
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/url_shortener?sslmode=disable
    depends_on:
      - db

  db:
    image: postgres:18
    environment:
      - POSTGRES_DB=url_shortener
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  postgres_data: